# Build results
bin/
obj/
*.dll
*.exe

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# ASP.NET
project.lock.json
project.fragment.lock.json
artifacts/

# Entity Framework Migrations history (opcional)
**/Migrations/

# Database files (caso uses SQLite ou LocalDb)
*.db
*.mdf
*.ldf

# Logs
*.log

# Publish output
publish/
*.db-shm
*.db-wal

# dotnet secrets
secrets.json

# JetBrains Rider
.idea/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
